header{
    height: 125px;
    background-color: aquamarine;
}

p{
    font-weight: 600;
}

output{
    font-weight: 700;
    width: 100px;
}

.option{
    margin: 24px 0;
    padding: 4px;
}
.title{
    text-align: center;
}

.price{
    font-size: 30px;
    display: block;
    margin: 0 auto;
}

#cart{
    padding: 16px;
    border: 2px solid rgb(0, 200, 200);
    width: 700px;
    margin: 0 auto;
}

#cart > select,
#cart > input
#cart > output{
    width: 75px;
    margin-right: 16px;
}
